<mat-card class="card mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Help Desk</mat-card-title>
    <mat-card-subtitle
      >Curso Desenvolvedor Full Stack Java/Angular</mat-card-subtitle
    >
  </mat-card-header>
  <img
    mat-card-image
    src="./../../../assets/img/home-image.svg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      Olá! Eu sou o Luan Braz e quero te apresentar o sistema Help Desk que eu
      desenvolvi como parte do meu curso de Desenvolvedor Full Stack.<br />
      Esse sistema é projetado para gerenciar chamados simulando um Help Desk
      simples, utilizando as tecnologias Angular 14 e Spring Boot 2. O sistema
      está hospedado na nuvem, com o front-end na plataforma Vercel e o back-end
      na Heroku.<br />
      O objetivo principal do projeto é cobrir conceitos avançados de aplicações
      SPAs, autenticação e autorização usando Tokens JWT, e muito mais. Você
      pode acessar o código-fonte do projeto clicando no link Github no menu
      lateral.<br /><br />
      Sinta-se à vontade para testar o sistema e deixar suas sugestões. Será um
      prazer ouvir sua opinião!<br />
      Atenciosamente,<br />
      Luan Braz.
    </p>
  </mat-card-content>
</mat-card>
