<div class="container">
  <form class="form mat-elevation-z8">
    <h1>Help Desk - Gestão de Suporte Técnico</h1>

    <img src="./../../../assets/img/login-image.svg" alt="img login" />

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>E-mail</mat-label>
      <input
        [formControl]="email"
        required
        [(ngModel)]="creds.email"
        name="email"
        matInput
        placeholder="user@email.com"
      />
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Senha</mat-label>
      <input
        [formControl]="senha"
        required
        [(ngModel)]="creds.senha"
        name="senha"
        type="password"
        matInput
        placeholder="Ex. 1234"
        [type]="hide ? 'password' : 'text'"
        #passwordInput
      />
      <button
        mat-icon-button
        matSuffix
        (click)="togglePasswordVisibility()"
        aria-label="Toggle password visibility"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <button
      (click)="logar()"
      [disabled]="!validaCampos()"
      class="full-width mat-elevation-z4 custom-button"
      mat-raised-button
      color="success"
    >
      Login
    </button>
  </form>
</div>
