/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-snackbar {
  background-color: #d32f2f; /* cor de fundo do popup */
  color: #ffffff; /* cor do texto do popup */
  font-weight: bold; /* estilo do texto do popup */
  max-width: 500px; /* largura máxima do popup */
  min-height: 60px; /* altura mínima do popup */
}

.custom-snackbar .mat-snack-bar {
  max-width: 500px; /* largura máxima do popup */
}

.custom-snackbar .mat-snack-bar-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px; /* altere o valor para ajustar a largura */
}

.mat-button {
  color: #ffffff; /* cor do texto do popup */
  min-height: 100px; /* altura mínima do popup */
}
