.container {
  width: 35rem;
  margin: auto;
  padding: 1rem 1rem 3rem 1rem;
  border-radius: 0.6rem;
}

.fullwidth {
  width: 100%;
}

h1 {
  text-align: center;
}

img {
  height: 8rem;
  margin: auto;
}

.section {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

button {
  margin-top: 0.5rem;
}

::ng-deep .mat-checkbox-checked.mat-primary .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background {
  background-color: #1d1782 !important;
  border-color: #1d1782 !important;
}

mat-icon {
  opacity: 0.7;
}
